<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="viewport" content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0'/>
  </head>
  <body>
  <div id="frame">
    <img src="/images/title.png" id="title">
    <img src="/images/compLogo.jpg" id="comp">
    <a href="/login" id="manage">Manage</a>
    <img src="/images/texture.png" id="texture">
  </div>
  <div id="bottomFrame">
    <h3 id="introTitle">测试简介</h3>
    <h4 id="intro">通过《九型人格测试》了解自己的基本人格形态，决定你的职业、爱情轨迹</h4>
    <input id="nameInput" type="text" placeholder="请输入您的名字"><br>
    <button type="button" id="start">开始测试</button>
  </div>
  <script src="/javascripts/mainHelper.js"></script>
  </body>
</html>
