<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/trans.css' />
    <meta name="viewport" content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0'/>
</head>
<body>
<div id="transFrame">
    <h4 id="wait">请稍等...</h4>
</div>
<script src="/javascripts/ReportGenerator.js"></script>
</body>
</html>
